{% block content %}
{% include "base.html" %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container mt-3 ">
    <h5 class="my-3 border-bottom pb-2">의류등록</h5>

    <form method="post" class="post-form my-3">
    {% csrf_token %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    {{ form.as_p }}
        <button type="submit" class="btn btn-primary" href="">Save</button>
    </form>
   

</div>
{% endblock %}  