{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include "base.html" %}
<div class="p-5 text-dark text-center">
    <h1 class="h2">{{ question.subject }}</h1>
    <p class="h5">{{ question.content }}</p>
</div>
    {% if question.mainphoto %}
        <div class="container my-3 bg-muted">
            <img src = "{{ question.mainphoto.url }}" alt="" height="600" class="mx-auto d-block">
        </div>
            <div class="recommend">
            </div>
    {% endif %}
{% endblock %}